{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ entity.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'measurements.detail.overview' | trans }}: {{ entity.name }}</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <label class="measurements-detail-label pull-left">Start:</label> {{ entity.start | date("d.m.Y H:i") }}
                    </p>
                    <p>
                        <label class="measurements-detail-label pull-left">Ende:</label>
                        {% if entity.end is defined and entity.end %}
                            {{ entity.end | date("d.m.Y H:i") }}
                        {%  else %}
                            <span class="label label-info">{{ "measurements.fields.end.empty" | trans }}</span>
                        {%  endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Alarme</h3>
                </div>
                <div class="panel-body">
                    Alarme verwalten!
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        {% for probe in entity.probes %}
            <div class="col-md-4" data-measurement-probe-id="{{ probe.id }}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ probe.name }}
                            <span class="badge pull-right">{{ probe.min }} °C / {{ probe.max }}°C</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="chart" id="chart-{{ probe.id }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Historie</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="chart" id="chart-historie"></div>
                    <p class="text-center">Übersicht</p>
                </div>
                <div class="col-md-4">
                    <div class="chart" id="chart-recent"></div>
                    <p class="text-center">Letzte Stunde</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block pageJavascripts %}
    <script type="application/javascript">
        $(function() {
            {% for probe in entity.probes %}
                $('#chart-{{ probe.id }}').wlanthermoGauge({
                    label: '{{ probe.name }}',
                    color: '{{ probe.color }}',
                    value: 148
                });
            {% endfor %}

            var chart = c3.generate({
                bindto: '#chart-historie',
                data: {
                    columns: [
                        ['Garraum', 30, 200, 100, 400, 150, 250],
                        ['Gargut 1', 130, 100, 140, 200, 150, 50],
                        ['Gargut 2', 120, 110, 120, 130, 150, 90]
                    ],
                    type: 'spline'
                },
                tooltip: {

                }
            });


            var chart2 = c3.generate({
                bindto: '#chart-recent',
                data: {
                    columns: [
                        ['Garraum', 30, 200, 100, 400, 150, 250],
                        ['Gargut 1', 130, 100, 140, 200, 150, 50],
                        ['Gargut 2', 120, 110, 120, 130, 150, 90]
                    ],
                    type: 'spline'
                }
            });

        });
    </script>
{% endblock %}