{% form_theme form _self %}

{% block color_widget %}
    {% spaceless %}
        {% set type = 'color' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_errors(form) }}

{{ form_row(form.name, {'label': 'measurements.fields.name.label'}) }}
{{ form_row(form.device, {'label': 'measurements.fields.device.label'}) }}

<table class="table js-collection js-collection-measurement-probes" data-min="1" data-max="8">
    <caption>{{ 'probes.navigation.label' | trans }}</caption>
    <thead>
        <tr>
            <th>
                {{ 'measurementProbes.fields.channel.label' | trans }}
            </th>
            <th>
                {{ 'measurementProbes.fields.name.label' | trans }}
            </th>
            <th>
                {{ 'measurementProbes.fields.min.label' | trans }}
            </th>
            <th>
                {{ 'measurementProbes.fields.max.label' | trans }}
            </th>
            <th>
                {{ 'measurementProbes.fields.color.label' | trans }}
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for probe in form.probes %}
            {{ _self.collectionItemWidget(probe) }}
        {% endfor %}

        {% if  form.probes | length == 0 %}
            {% do form.probes.setRendered %}
            <tr>
                <td colspan="6">
                    <div class="alert alert-info">
                        {{ 'measurementProbes.none' | trans }}
                    </div>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

<ul class="list-unstyled">
    <li>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary pull-right'}}) }}
    </li>
    <li>
        <a href="{{ path('devices') }}" class="btn btn-link pull-right" data-confirm="{{ "abort.confirm" | trans }}">
            {{ "abort.label" | trans }}
        </a>
    </li>
</ul>

{{ form_end(form) }}

{% macro collectionItemWidget(item) %}
    {% spaceless %}
        <tr>
            {% for field in item %}
                <td{% if field.vars.errors|length %} class="has-error"{% endif %}>
                    {{ form_widget(field) }}
                    {{ form_errors(field) }}
                </td>
            {% endfor %}
            <td>
                <ul class="list-unstyled grid-actions">
                    <li>
                        <button class="btn btn-default btn-s pull-right js-button-delete" title="{{ "probe.delete.label" | trans }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </li>
                </ul>
            </td>
        </tr>
    {% endspaceless %}
{% endmacro %}