<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('index') }}" class="navbar-brand">
                {% image '@AppBundle/Resources/public/img/logo-inverted.png'  %}
                <img src="{{ asset_url }}" class="navbar-logo pull-left" alt="wlanthermoCloud"/>
                {% endimage %}
                <span class="hidden-xs">{{ "brand" | trans }}</span>
            </a>
            <span class="navbar-brand">
                <span class="hidden-xs">-</span> {{ title |default('Dashboard') }}
            </span>
        </div>
        <div class="navbar-collapse collapse">
            {# Navigation #}
            {{ render(controller('AppBundle:Navigation:index', {
                route: route,
                id: id
            })) }}
        </div>
    </div>
</nav>