{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "devices.list.label" | trans }}{% endblock %}

{% block body -%}

    <div class="table-responsive">
        <table class="table table-striped table table-hover">
            <thead>
                <tr>
                    <th>{{ "devices.fields.id.label" | trans }}</th>
                    <th>{{ "devices.fields.name.label" | trans }}</th>
                    <th class="hidden-xs">{{ "devices.fields.url.label" | trans }}</th>
                    <th class="hidden-xs">{{ "devices.fields.probes.label" | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td class="hidden-xs">{{ entity.url }}</td>
                    <td class="hidden-xs">{{ entity.probes | length }}</td>
                    <td></td>
                    <td>
                        {% set form = delete_forms[entity.id] %}
                        {{ form_start(form) }}
                            <div class="btn-group pull-right">
                                <a href="{{ path('devices_edit', { 'id': entity.id }) }}" class="btn btn-default btn-s" title="{{ "devices.edit.label" | trans }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <button type="submit" class="btn btn-default btn-s" title="{{ "devices.delete.label" | trans }}" data-confirm="{{ "delete.confirm" | trans }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        {{ form_widget(form._token) }}
                        </form>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('devices_new') }}" class="btn btn-primary pull-right">
                {{ "devices.new.label" | trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
