{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ "devices.list.label" | trans }}{% endblock %}

{% block body -%}

    <h1 class="sub-header">{{ "devices.list.label" | trans }}</h1>

    <table class="table table-striped table table-hover">
        <thead>
            <tr>
                <th>{{ "devices.fields.id.label" | trans }}</th>
                <th>{{ "devices.fields.name.label" | trans }}</th>
                <th>{{ "devices.fields.url.label" | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.url }}</td>
                <td>
                    <ul class="list-unstyled grid-actions">
                        <li>
                            {% set form = delete_forms[entity.id] %}
                            {{ form_start(form) }}
                            <button type="submit" class="btn btn-default btn-s pull-right" title="{{ "devices.delete.label" | trans }}" data-confirm="{{ "delete.confirm" | trans }}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            {{ form_widget(form._token) }}
                            </form>
                        </li>
                        <li>
                            <a href="{{ path('devices_edit', { 'id': entity.id }) }}" class="btn btn-default btn-s pull-right" title="{{ "devices.edit.label" | trans }}">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('devices_new') }}" class="btn btn-primary pull-right">
                {{ "devices.new.label" | trans }}
            </a>
        </li>
    </ul>
    {% endblock %}
