<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    {% set title %}
        {% block title %}{% endblock %}
    {% endset %}
    <title>{{ title }} | {{ "brand" | trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    {# CSS #}
    {% block stylesheets %}
        {% stylesheets '@AppBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('apple-touch-icon.png') }}" />

    <link rel="manifest" href="/manifest.json">
</head>
<body>

    {# Navigation #}
    {{ render(controller('AppBundle:Headbar:index', {
        route: app.request.attributes.get('_route'),
        id: app.request.attributes.get('id'),
        title: title
    })) }}

    <div class="container-fluid main">
        {# Body of the page #}
        {% block body %}{% endblock %}
    </div>

    {% include 'AppBundle::loading-modal.html.twig' %}

    {# Javascripts #}
    {% block javascripts %}
        {% javascripts
            '@AppBundle/Resources/public/js/jquery-1.11.2.min.js'
            '@AppBundle/Resources/public/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/bootbox.min.js'
            '@AppBundle/Resources/public/js/d3.min.js'
            '@AppBundle/Resources/public/js/c3.min.js'
            '@AppBundle/Resources/public/js/jquery.wlanthermoGauge.js'
            '@AppBundle/Resources/public/js/push.js'
            '@AppBundle/Resources/public/js/app.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block pageJavascripts %}{% endblock %}
</body>
</html>
